<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A1 Second HTML</title>
</head>
<body>
    <center>
        <h1><marquee>App1 Second HTML page</marquee></h1>
        <h1>Welcome to my Second Webpage</h1>
        <h1><a href="{% url 'bhai:Lipu' %}">Go to Lipu</a></h1>
        <h1><a href="{% url 'A1_First' %}">Go to A1 First</a></h1>
    </center> 
</body>
</html>