<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A2 First HTML</title>
</head>
<body>
    <center>
        <h1><maequee><i> First HTML page</i></maequee></h1>
        <h1>Welcome to App2 First Webpage</h1>
        <h1><a href="{% url 'A1_First' %}">Go to A1 First</a></h1>
        <h1><a href="{% url 'A1_Second' %}">Go to A1 Second</a></h1>
    </center>
</body>
</html>